.booking__content {
    position: relative;
}

.booking__title {
    padding-top: 162px;
    font-family: 'Banny Bold Round' ;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.booking__title::before {
    content: "";
    border-radius: 50px;
    width: 60px;
    height: 5px;
    position: absolute;
    top: 220px;
    left: 320px;
    margin-left: -30px;
    background: var(--yellow);
}

.booking__img {
    margin-top: 70px;
}

.booking__square {
    top: 230px;
    right: 0px; 
}

.booking__columns {
    margin-top: 30px;
    margin-left: 20px;
}

.booking__input {
    padding-left: 15px;
    margin: 10px 5px 0 0;
    width: 277px;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
}

.booking-btn {
    margin: 10px 0 0 20px;
    width: 593px;
    height: 60px;
    border:none;
    outline: none;
    background: #E8C300;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.booking__graph {
    margin: 0 0 40px 385px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.5);
}