.events {
    background: url(../../img/events/events-bg.jpg) center;
    background-size: cover;
}

.events__content {
    position: relative;
}

.events__title-main {
    position: absolute;
    left: 43%;
    top: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.events__img {
    margin: 75px 0 75px 0;
}

.left__img {
    margin-left: 50px;
}


.left__text {
    position: absolute;
    left: 300px;
    bottom: 378px;
    width: 478px;
    height: 85px;
    background-color: #000000;
    font-family: 'Banny Bold Round' ;
    font-size: 24px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(90deg);
}

.right__text {
    position: absolute;
    right: 315px;
    bottom: 378px;
    width: 478px;
    height: 85px;
    background-color: #000000;
    font-family: 'Banny Bold Round' ;
    font-size: 24px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.events__number {
    margin: 0 0 40px 385px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
}