.header {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.header__menu {
    list-style: none;
    justify-content: space-around;
}

.header__logo {
    margin-top: 25px;
    cursor: pointer;
    animation-name: logo-is-active;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.nav__item {
    margin-top: 50px;
}

.nav__link {
    width: 25%;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: white;
}

.nav__link:hover {
    text-decoration: underline;
}

@keyframes logo-is-active {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}






