.hero {
    background: url(../../img/hero/background.jpg) center;  
    background-size: cover;
    min-height: 625px;
    padding-top: 151px;
}

.hero__content {
    position: relative;
}

.work__time {
    position: absolute;
    bottom: 115px;
    left: -100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.hero__content {
    text-align: center;
}

.hero__subtitle {
    padding-top: 151px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #FFFFFF;
}

.hero__title {
    font-family: 'Banny Bold Round';
    font-size: 96px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__title::before {
    content: "";
    border-radius: 50px;
    width: 60px;
    height: 5px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -30px;
    background: var(--yellow);
  }

.hero__btn {
    margin: 60px 20px 0 20px;
    width: 200px;
    height: 60px;
}

.hero__btn-down {
    position: absolute;
    bottom: -135px;
    right: 620px;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background: #FFFFFF;
    border:none;
    outline: none;
}

.hero__btn-down:active {
    transform: scale(0.97);
}

.hero__btn-down::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 14px;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    border-radius: 2px;
    border: 4px solid #333333;
    border-top: 0;
    border-left: 0;
}

.btn-transparent {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-transparent:active {
    transform: scale(0.97);
}

.hero__icon {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__icon:hover {
    background: #E5E5E5;
    transition: 0.8s;
}

.social__col {
    position: absolute;
    right: 15px;
    top: 160px;
    flex-direction: column;
}