body {
    overflow: hidden;
    animation: 7s overflow 2s linear forwards;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background:url('../../img/features/feature-bg.jpg');
    animation: 1s preloader 5s linear forwards;
}

.preloader__icon {
    animation-name: logo-is-active;
    animation-duration: 5s;
}

@keyframes preloader {
    0% {
        opacity: 1 ;
    }

    100% {
        opacity: 0 ;
        visibility: hidden;
        transition: 0.3s;
    }
}

@keyframes overflow {
	from {
        overflow: hidden;
    }

    to {
        overflow: visible;
    }
}
